*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.move,img{
    width: 65%;
    height: 80%;
    border-radius: 280px;
    margin-top: 100px;
    margin-left: 70px;
}
.becky{
    margin: 50px;
    margin-left: 58%;
    margin-top: -25%;
}


nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    
}
nav, ul, li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-align: end;

    
}
.skills{
    margin-top: 20%;
}
nav, ul, li, a{

    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}
nav, ul, li, a:hover{
    color: red;
  

  }

