*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

}
.About-container{
    background-color: #f8c7c7;
    background: linear-gradient(
        to right,
        rgb(213, 224, 226) 0%,
        rgb(240, 221, 221) 40%,
        rgb(187, 180, 177) 40%,
        rgb(243, 235, 235) 90%
    );
}

.hero{
    
    position: relative;
    width: 100%;
    max-height: 900px;
    background: rgb(255, 254, 254);

}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    
}
nav, ul, li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-align: end;

    
}
.skills{
    margin-top: 20%;
}
nav, ul, li, a{

    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}
nav, ul, li, a:hover{
    color: red;
    
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
    
}
.detel h1{
    font-size: 50px;
    color: rgb(77, 68, 68);
    margin-bottom: 20px;
}
span{
    color: orange;
}
.detel p{
    color: #555;
    line-height: 22px;

}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.image{
    width: 45%;
    height: 900;
    position: absolute;
    bottom: 0;
    right: 110px;
    background-color: #000;
}
.images img{
    width: 700px;
height: 100%;
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-40%);
transition:bottom is, left is;
border-radius: 610px;
margin-bottom: -160px;
margin-left: 18%;


}
.images:hover .shape{
    bottom: 40px;
}
 .images:hover .girl{
    left: 45%;
 }
 button button a{
/* margin-top: -40PX;
margin-left: 126px;
margin: 6px 90px 10px 100px; */

padding-right: 1px;
border-radius: 20px;
margin: 10px 0px;
margin-right:80px 80px 80px;


 }

#becky,img{
    width: 59%;
    height: 70%;
    border-radius: 280px;
    margin-top: -0px;
    margin-left: 50px;
    
}
.becky1 {
    margin: 5px;
    margin-left: 02%;
    margin-top: -5%;
    margin-top: 30px;
}

.move,img{
    width: 55%;
    height: 80%;
    border-radius: 280px;
    margin-top: 140px;
    margin-left: 70px;

 }

.move{
    margin: 50px 50px;
    margin-left: 80%;
    margin-top: -44%;
    
}
.reb{

}
.move  .text{
    color: rgb(93, 106, 117);
    margin-top: -35%;
    color: #000;
    margin-left: 20%;
    
    
}
.text{
  overflow: hidden;
  text-size-adjust: 30px;
    
}
   a{
        background: #212121;
        padding: 10px 23px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        margin-top: -5%;
        
        margin: 30px 0;
        border-radius: 5px;
    }
    .move span{
        margin-top: -20%;
    }
    .move .text{
    margin-top: 10px;
    margin-top: -30px;
    }

    .reb{
       margin-top: 50%;
       font-size: 31px;
       
     }
     .codeimg{
        width: 40%;
        display: flex;
        box-shadow: 10px;
     }
     #imgc{

     }
     #imgd{
        width: 230px;
        border-style: solid;
        border-width: 6px;
        border-radius: 5%;

     }
     #imge{
      width: 390px;
      margin-bottom: 10px;
     }
     .twit, .link,.face{
        margin: 20px;
        margin-left: 120px;
        margin-top: -0px;
     }
     #twitter a href{
        margin-left: 90px;
        margin-top: -20%;
     }


     .about-me {
        background-color: #c4b7b7;
        overflow: hidden;
      
      }
       
      .about-me >div{
      
      }
      .about-me .image {
        float: left;
        width: 30% ;
       
      
      }
      
      .about-me .image img {
        width: 100%;
   
      }

      /* End About Me */
      
      
    /* CSS for the about-me section */
.about-me {
  margin-inline: 20px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.about-me > div {
}
.about-me .image img {
  width: 100%;
}

.about-me .info {
  float: right; /* Change float to right */
  width: 65%;
  margin: 1.5% 2.5% 0 2.5%;
}

.about-me .info h2 {
  margin: 20px 40px 20px 0; /* Change margin to push the heading to the right */
  color: #555;
}

.about-me .info > p {
  margin: 0 20px 5px 0; /* Change margin to push the paragraphs to the right */
}

.about-me .info > p:last-of-type {
  margin-top: 10px;
}

.about-me .info p {
  line-height: 1.5;
  color: #888;
}

.about-me .info .hobbies {
  overflow: hidden;
  margin: 20px 40px 0 0; /* Change margin to push the hobbies section to the right */
}

.about-me .info .hobbies .content {
  box-sizing: border-box;
  float: left;
  width: 50%;
  min-height: 100px;
  overflow: hidden;
}

.about-me .info .hobbies .content h3 {
  color: #555;
}

.about-me .info .hobbies .content .icon {
  float: left;
  width: 12%;
}

.about-me .info .hobbies .content .icon i {
  max-width: 100%;
  padding-top: 20px;
}

.about-me .info .hobbies .content .text {
  float: left;
  width: 84%;
  margin-left: 2%;
}

/* Change icon color on click */
.about-me .info .hobbies .content .icon i:hover {
  color: red; /* Change the color to the desired color */
  cursor: pointer;
}
 .hopp{
  margin-top: 50%;
 }

 .design{
  display: flex;
  margin-left: 150px;
  margin: 10px;
 }
 .design img{
  width: 20%;
  border-radius: 10px;
 }

 .UX{
  text-align: center;
  color: red;
 }
 .screenshot img{
  width: 25%;
  border-radius: 10px;
 }
 .front{
  text-align: center;
  color: red;
  
  
 }
 .Projects {
  display: flex;
  justify-content: space-between;
 }
 #project{
  margin-left: 180px;
  font-size: 25px;
  color: blue;
  margin-top: 20px;
 }
 #project1{
  margin-right: 50px;
  color: rgb(4, 49, 77);
  margin-top: 20px;
  font-size: 25px;
 }
 #project2{
  margin-right: 400px;
  color: blue;
  margin-top: 20px;
  font-size: 25px;
 }

 .contact-me {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}

.contact-me h2 {
  color: #fff;
  margin-left: 40px;
}

.contact-me p , .contact-me address{
  color: #6A6E71;
  margin-left: 40px;
}
.contact-me p strong{
  color: #d1d6da;
}

.contact-me .info, .contact-me .form {
  width: 45%;
  float: left;
}
.contact-me .form{
  margin-top: 10px;
  margin-left: 5%;
}
.contact-me .form label{
  display: block;
  color: #d1d6da;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contact-me .form input[type="text"]{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="email"]{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form textarea{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="submit"]{
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 20px;
  border-radius: 5px;
}
/* End Contact Me */


/*Start Fototer*/
.footer {
  background-color: #191e22;
  color: #101315;
  padding: 15px 0 30px 0;
  text-align: center;
  overflow: hidden;
  width: 100px;
}
.footer .footer-folat{
  float: left;
  width: 30%;
  text-align: center;
}
.footer ul{
  list-style: none;
  padding-left: 0;
  text-align: center;
  /*margin-top: 10px;*/
}

.footer ul li{
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
}
.footer ul li a{
  font-size: 1em;
}
.footer a{
  color: #999;
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
}
.footer a:hover{
  color: #2dcc70;
}
/*End Footer*/

/* Start My Framework */
.my-button{
  background: none;
  border: 2px solid #cc482d;
  padding: 10px 30px;
  color: #cc482d;
  font-weight: bold;
}
.paragrph{
  line-height: 1.5;
  color: #666;
}
.he{
  color: #717070;
  /*text-transform: uppercase;*/
}
.sp{
  line-height: 1.5;
  color: #888;
}
.hr{
  margin: 30px 0 30px 40px ;
  background-color: #999;
  height: 1px;
  border: 0;
  width: 95%;
}
/* End My Framework */
/* Start Media Query */

@media (max-width: 800px) {
  .features .feat {
    width: 95%;
  }
  .about-me .image {
    width: 100%;
  }
  .about-me .image img {
    width: 50%;
    height: 70%;
    margin: 0 25%;
  }
  .about-me .info, .about-me .info .hobbies .content {
    width: 95%;
  }
  .my-skills, .my-skills .skills, .my-skills .progress {
    width: 95%;
  }
  .resume {
    width: 100%;
  }
  .my-education .main, .my-education .exp {
    width: 95%;
    padding: 0;
    margin: 0;
  }
  .my-education .main .paragrph, .my-education .exp .paragrph {
    width: 100%;
    margin: 20px 0;
  }
  .my-education .main h2, .my-education .exp h3 {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
  }
  .my-education hr {
    margin: 20px 0;
    width: 100%;
  }
  .my-education .exp hr {
    margin: 0 auto;
    width: 50%;
  }
  .portfolio .our-work div {
    width: 100%;
  }
  .portfolio .our-work div img{
   width:70%;
    }
  .contact-me .info, .contact-me .form {
    width: 95%;
  }
  .footer .footer-folat {
    width: 95%;
  }
}
/* End Media Query */

.move{
  display: grid;
}
hr{
  color: blue;
}
#mockup {
  width: 240px;

}
.icons{
  margin-left: 35px;
 
}
#mock{
  width: 320px;
}

